<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    <%= image_tag "https://lh3.googleusercontent.com/p5pw8ik-BGEH7SqtBitlPp_oyKjq6Td-XXmS6VYjYPhPomzyDJ9DEwSI0mvfQfCLw3g=w300" %>
    <h1><%= @greeting %></h1>
    <p>
     Hello,diksha shivhare,welcome to EWL.
      your username is: <%= @employeer.email %>.<br>
    </p>
    <p>
      You are registered as employeer on EWL.You can post job for any requirement you have.
    </p>
    <p>Please keep track of it thanks.</p>
   <a href="http://localhost:3000">visit site</a>
  </body>
</html>