<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>New Company</h1>

      <%= render 'form', company: @company %>

      <%= link_to 'Back',employeer_companies_path %>
    </div>
  </div>
</div>
