<div class="container">
  <div class="resource-form">
    <h1 class="mb-4 form-title-head"><i class="fa fa-pencil"></i>Editing Company </h1>
<%= render 'form', company: @company %>
<%= link_to 'Show', employeer_company_path(@company) %> |
<%= link_to 'Back', employeer_companies_path %>
