<div class="container">
  <div class="row">
    <div class="col-md-4">
     
       <%= image_tag"download.png" , class:"img-fluid", style: 'width:50%;margin-left:15%' %>
        <div class="card-body">
          <h5 class="card-title">Duis ultricies aliquet mauris</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">READ MORE</a>
        </div>
     
    </div>
    <div class="col-md-8 ">
      <div class="row" >
        <div class="col-md-4">
          <h3 style="color: blue">Quick  Links</h3>
          <ul  style="list-style: none;font-size: 15px">
            <li><i class="fa fa-chevron-right"></i>  About Us</li>
             <li><i class="fa fa-chevron-right"></i>  Career Resources</li>
             <li><i class="fa fa-chevron-right"></i> Categories</li>
            <li><i class="fa fa-chevron-right"></i> Blog</li>
            <li><i class="fa fa-chevron-right"></i> Terms Of Services</li>
            <li><i class="fa fa-chevron-right"></i> Privacy Policy</li>
            <li><i class="fa fa-chevron-right"></i> Register</li>
            <li><i class="fa fa-chevron-right"></i> Submit Resume</li>
            <li><i class="fa fa-chevron-right"></i> Contact Us</li>
          </ul>
        </div>
        <div class="col-md-4">
         <h3 style="color: blue">Jobs in India</h3>
         <ul style="list-style: none;font-size: 15px">
         <li><i class="fa fa-chevron-right"></i> Bhopal</li>
         <li><i class="fa fa-chevron-right"></i> Indore</li>
         <li><i class="fa fa-chevron-right"></i> Pune</li>
          <li><i class="fa fa-chevron-right"></i> Banglore</li>
          <li><i class="fa fa-chevron-right"></i> Mumbai</li>
           <li><i class="fa fa-chevron-right"></i> Noida</li>
          <li><i class="fa fa-chevron-right"></i> Ahemdabad</li>
         <li><i class="fa fa-chevron-right"></i> Dubai</li>
          <li><i class="fa fa-chevron-right"></i> Nagda</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 style="color: blue ;margin-top: 3px">Jobs Categories</h4>
        <ul style="list-style: none;font-size: 15px">
          <li><i class="fa fa-chevron-right"></i> Photography</li>
           <li><i class="fa fa-chevron-right"></i> Office Assistance</li>
         <li><i class="fa fa-chevron-right"></i> Online Tutor</li>
          <li><i class="fa fa-chevron-right"></i> Web Designer</li>
          <li><i class="fa fa-chevron-right"></i> Web Development</li>
           <li><i class="fa fa-chevron-right"></i> Delivery Boy</li>
         <li><i class="fa fa-chevron-right"></i> Customer Service</li>
           <li><i class="fa fa-chevron-right"></i> Computer Jobs</li>
          <li><i class="fa fa-chevron-right"></i> Electronics Jobs</li>
        </ul>
      </div>
    </div>
  </div>
</div>